:root {
  --accent-bg-clr: #8119c7;
  --accent-txt-clr: #fff;
  --secondary-bg-clr: #eee;
  --todo-card-box-shadow: 2px 2px 5px 0px #666
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: sans-serif;
}

h1, h2, h3 ,h4 ,h5 ,h6 {
  padding: 0.5em;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: transparent;
  background-color: var(--secondary-bg-clr);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  position: relative;
  top: -1px;
  left: -1px;
  color: var(--accent-bg-clr);
  box-shadow: var(--todo-card-box-shadow);
}

#sidebar {
  position: sticky;
  top: 0;
  height: 100dvh;
  padding: 1rem;
  background-color: var(--accent-bg-clr);
  color: var(--accent-txt-clr);
  display: flex;
  flex-direction: column;
}

button#createProject {
  margin: 0 auto 1rem auto;
}

#listOfProjects {
  list-style: none;
  flex: 1;
  overflow: auto;
}

#listOfProjects button {
  padding: 0.5rem;
  background: none;
  color: var(--accent-txt-clr);
}

#listOfProjects button:hover {
  box-shadow: none;
  top: 0;
  left: 0;
}

footer {
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mainTop {
  padding: 1rem;
  /* background-color: var(--secondary-bg-clr); */
  box-shadow: var(--todo-card-box-shadow);
}

#todoContainer {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, clamp(150px, 30%, 65ch));
  grid-auto-rows: min(150px, 250px);
  gap: 1rem;
  justify-content: center;
}

.todoCard {
  /* background-color: var(--secondary-bg-clr); */
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--todo-card-box-shadow);
}

/* outline: 1px solid red; */