/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-bg-dark: oklch(0.92 0 110);
  --clr-bg: oklch(0.96 0 110);
  --clr-bg-light: oklch(1 0 110);
  --clr-text: oklch(0.15 0 110);
  --clr-text-muted: oklch(0.4 0 110);
  --clr-highlight: oklch(1 0 110);
  --clr-border: oklch(0.6 0 110);
  --clr-border-muted: oklch(0.7 0 110);

  --clr-primary: oklch(0.76 0.1 240);
  --clr-secondary: oklch(0.76 0.1 300);
  --clr-tertiary: oklch(0.76 0.1 270);

  --clr-danger: oklch(0.7 0.1 30);
  --clr-warning: oklch(0.7 0.1 100);
  --clr-success: oklch(0.7 0.1 160);
  --clr-info: oklch(0.7 0.1 260);

  --box-shadow: 0.1rem 0.1rem 0.5rem var(--clr-text-muted);
}

body.dark {
  /* oklch */
  --clr-bg-dark: oklch(0.05 0 110);
  --clr-bg: oklch(0.15 0 110);
  --clr-bg-light: oklch(0.25 0 110);
  --clr-text: oklch(0.96 0 110);
  --clr-text-muted: oklch(0.76 0 110);
  --clr-highlight: oklch(0.5 0 110);
  --clr-border: oklch(0.4 0 110);
  --clr-border-muted: oklch(0.3 0 110);

  --clr-primary: oklch(0.4 0.1 240);
  --clr-secondary: oklch(0.4 0.1 300);
  --clr-tertiary: oklch(0.4 0.1 270);

  --clr-danger: oklch(0.5 0.1 30);
  --clr-warning: oklch(0.5 0.1 100);
  --clr-success: oklch(0.5 0.1 160);
  --clr-info: oklch(0.5 0.1 260);

  --box-shadow: 0.5rem 0.5rem 1.5rem var(--clr-border-muted);
}

.theme-button {
  background-color: var(--clr-bg-dark);
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.2rem 0.5rem;
  border: 0.1rem solid var(--clr-border-muted);
  border-radius: 0.5rem;
}

.theme-button:hover {
  background-color: var(--clr-bg-light);
  border-color: var(--clr-border);
  cursor: pointer;
}

/* END of resets and theming */

body.dark {

  .editImg,
  .deleteImg {
    filter: invert(0.96);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--clr-text);

  position: relative;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;

  header {
    background-color: var(--clr-primary);
    padding: 0.5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    button.newProject {
      /* outline: 1px solid red; */

      background-color: var(--clr-secondary);
      color: var(--clr-text);

      font-weight: 900;

      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border-color: var(--clr-border);
    }
  }


  main {
    padding: 1rem;
    background-color: var(--clr-bg);

    flex: 1;
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
  }

  .projectCard {
    overflow-y: scroll;
    flex: 0 0 32ch;
    position: relative;

    display: flex;
    flex-direction: column;

    background-color: var(--clr-bg-dark);
    border-radius: 0.5rem;
    border: var(--clr-border) 0.1rem solid;
    border-top: var(--clr-highlight);
    box-shadow: var(--box-shadow);

    button.newTodo {
      background-color: var(--clr-tertiary);
      color: var(--clr-text);

      height: 2rem;

      font-weight: 900;

      margin: 1rem 1rem 0 1rem;
    }

    .projectHeader {
      background-color: var(--clr-secondary);
      position: sticky;
      top: 0;
      padding: 0.5rem;
      z-index: 1;
    }

    .todoList {
      margin: 1rem 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      .todoItem {
        background-color: var(--clr-bg-light);
        padding: 0.5rem;
        border-radius: 0.5rem;
        border-left: 0.5rem solid var(--clr-info);
        position: relative;

        .editAndDeleteButtons {
          button {
            height: 1.5rem;
          }
        }

        .description {
          color: var(--clr-text);
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--clr-primary);
  }
}

.editAndDeleteButtons {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;

  button {
    height: 1.8rem;
    aspect-ratio: 1;
    background-color: var(--clr-bg-dark);
  }
}

small {
  color: var(--clr-text-muted);
}

button {
  border-radius: 0.5rem;
  border-color: var(--clr-border-muted);
}

button:hover {
  cursor: pointer;
  border-color: var(--clr-border);
  filter: brightness(1.25);
}

.projectHeader,
.todoHeader {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.lineThrough {
  text-decoration: line-through;
  color: var(--clr-text-muted);
}

.overdue {
  color: var(--clr-danger);
  filter: brightness(1.5);
}

.hidden {
  display: none;
}

dialog {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--clr-border);
  box-shadow: var(--box-shadow);
  overflow: hidden;

  background-color: var(--clr-bg);
  color: var(--clr-text);

  header {
    background-color: var(--clr-secondary);
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
  }

  form {
    padding: 1rem;

    input,
    select,
    textarea {
      border-color: var(--clr-border);
      border-radius: 0.5rem;
      padding: 0 0.5rem;
      max-width: 35ch;
      resize: none;

      background-color: var(--clr-bg-light);
      color: var(--clr-text);
    }

    select {
      height: 1.75rem;
    }

    #dialogFormContent {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .priorityAndDueDate {
      display: flex;
      gap: 1rem;
    }

    .dialogFormButtons {
      padding-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    button {
      background-color: var(--clr-tertiary);
      color: var(--clr-text);
      font-weight: 900;
      padding: 0 0.5rem;
    }
  }
}

dialog::backdrop {
  background-image: var(--clr-bg);
  backdrop-filter: blur(0.25rem);
}